<p *ngIf = "!(Auth.getUser()| async)">Your are not logged in</p>

<button mat-raised-button color="primary" (click)="addStudentsFormOPen = !addStudentsFormOPen" >
    Add 
  </button>

  <students-form *ngIf = "addStudentsFormOPen" 
  (update) = "add($event);  "
  (closeEdit) = "addStudentsFormOPen =  false" 
  [formType] = "'ADD'">
  
  </students-form>
<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
  <!-- Position Column -->
  <ng-container style= "width: 60px;"  matColumnDef="position">
    <th  style= "width: 60px;" mat-header-cell *matHeaderCellDef> # </th>
    <td  style= "width: 60px;" mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
  </ng-container>

    <!-- Position Column -->
    <ng-container style= "width: 150px;"  matColumnDef="email">
        <th  style= "width: 150px;" mat-header-cell *matHeaderCellDef> Email </th>
        <td  style= "width: 150px;" mat-cell *matCellDef="let element; let i = index"> {{element.email}} </td>
      </ng-container>
    

  <!-- Name Column -->
  <ng-container style= "width: 250px;" matColumnDef="math">
    <th style= "width: 250px;" mat-header-cell *matHeaderCellDef> Math Grade </th>
    <td style= "width: 250px;" mat-cell *matCellDef="let element; let i = index">  <div *ngIf = "!editState[i]">{{element.math}}</div>  </td>
  </ng-container>

  <!------------- Education Column ----------------->
  <ng-container style= "width: 200px;" matColumnDef="met">
    <th  style= "width: 200px;" mat-header-cell *matHeaderCellDef> Psychometric Entrance Test Grade   </th>
    <td style= "width: 200px;" mat-cell *matCellDef="let element; let i = index"><div *ngIf = "!editState[i]">{{element.met}}</div> </td>
  </ng-container>

  <!------------- Salary Column ----------------->
  <ng-container style= "width: 200px;" matColumnDef="payed">
    <th style= "width: 200px;" mat-header-cell *matHeaderCellDef> Is Payed? </th>
    <td style= "width: 200px;" mat-cell *matCellDef="let element; let i = index"> <div *ngIf = "!editState[i]">{{element.payed}}</div> </td>
  </ng-container>

  <!------------- DELETE Column ----------------->
  <ng-container style= "width: 120px;" matColumnDef="delete">
      <th style= "width: 120px;" mat-header-cell *matHeaderCellDef> DELETE </th>
      <td style= "width: 120px;" mat-cell *matCellDef="let element; let i = index">
          
      <button *ngIf = "!editState[i]" mat-raised-button color="warn" (click)="deleteStudent(element.id)" >
          Delete 
      </button>   
          
      </td>
    </ng-container>

   <!------------- Predict Column ----------------->
   <ng-container style= "width: 120px;" matColumnDef="predict">
    <th style= "width: 120px;" mat-header-cell *matHeaderCellDef> Predict </th>
    <td style= "width: 120px;" mat-cell *matCellDef="let element; let i = index">
        
    <button *ngIf = "!element.result" mat-raised-button style="background-color:rgb(16, 82, 158); color: white;"  (click) = "predict(element.math, element.met, element.payed, i)"  >
      Predict 
    </button> 
    
    
    <button  *ngIf = "element.result && !element.saved "  mat-raised-button color="primary"   (click) = "updateResult(element.id, element.result, i )"  >
      Save 
    </button> 

    <div *ngIf = "element.saved" >
    Saved
  </div>
    </td>
  </ng-container>
  
   <!------------- Result Column ----------------->
   <ng-container  matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td  mat-cell *matCellDef="let element; let i = index"> 
        <div>
            <mat-form-field appearance="fill">
                <mat-label>result</mat-label>
                <mat-select place-holder = "Is Payed?" [(ngModel)] = "students[i].result" name = "result" required>
                  <mat-option *ngFor="let result of resultes" [value]="result">
                    {{result}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       
        </div>

    
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  