<mat-card >
    <h3  style="  font-weight: bold    ">{{formType}} CUSTOMER</h3>
    <form #customerForm="ngForm" >
      <div class="example-container">
        <p >
            <mat-form-field  appearance="standard">
              <mat-label>Math Grade</mat-label>
              <input matInput type="number"
                [(ngModel)] = "math"
                name = "math"
                required>
            </mat-form-field>
          </p> 
          <p >
            <mat-form-field appearance="standard">
              <mat-label>Psychometric Test Grade            </mat-label>
              <input matInput type="number" 
                [(ngModel)] = "met" 
                name = "met" 
                required>
            </mat-form-field>
          </p>  
         
        
          <div>
            <mat-form-field appearance="fill">
                <mat-label>Is Payed?</mat-label>
                <mat-select place-holder = "Is Payed?" [(ngModel)] = "payed" name = "payed" required>
                  <mat-option *ngFor="let payed of payedarr" [value]="payed">
                    {{payed}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       
        </div>

        <div >
            <button mat-raised-button color="" (click)= "updateParent()">
              {{formType}}            
            </button>
            <button mat-raised-button color="" (click)= "tellParentToClose()">
              CANCEL            
          </button>
            
        
          </div>
      </div>
      <br>
      <div style="color: red;">

      {{errormassage}}
    </div>

    </form>
   </mat-card>
  
  